<div class="p-4">
    <div class="container">
        <router-outlet>
            <h1 class="title">{{ title }}</h1>
            <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">


                <!-- next target generate waybill no -->
                 <div class="row">
                    <div class="mb-3 col-6">
                        <label class="form-label">Waybill no</label>
                        <input type="text" formControlName="waybillno" class="form-control" 
                               [ngClass]="{ 'is-invalid': submitted && f.waybillno.errors }" />
                        <div *ngIf="submitted && f.waybillno.errors" class="invalid-feedback">
                            <div *ngIf="f.waybillno.errors.required">Product Name is required</div>
                            <div *ngIf="f.waybillno.errors.minlength">Name must be at least 3 characters</div>
                            <div *ngIf="f.waybillno.errors.maxlength">Name cannot exceed 100 characters</div>
                        </div>
                    </div>
                </div>
            
                <!-- if kinsa ang supplier -->
                <div class="row">
                    <div class="mb-3 col-6">
                        <label class="form-label">Supplier</label>
                        <input type="text" formControlName="supplier" class="form-control" 
                               [ngClass]="{ 'is-invalid': submitted && f.supplier.errors }" />
                        <div *ngIf="submitted && f.supplier.errors" class="invalid-feedback">
                            <div *ngIf="f.supplier.errors.required">Product Name is required</div>
                            <div *ngIf="f.supplier.errors.minlength">Name must be at least 3 characters</div>
                            <div *ngIf="f.supplier.errors.maxlength">Name cannot exceed 100 characters</div>
                        </div>
                    </div>
                </div>


                <!-- compant name -->
                <div class="mb-3 col-6">
                    <label class="form-label">Company</label>
                    <input type="text" formControlName="company" class="form-control" 
                           [ngClass]="{ 'is-invalid': submitted && f.company.errors }" />
                    <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                        <div *ngIf="f.company.errors.required">Product Name is required</div>
                        <div *ngIf="f.company.errors.minlength">Name must be at least 3 characters</div>
                        <div *ngIf="f.company.errors.maxlength">Name cannot exceed 100 characters</div>
                    </div>
                </div>

                <div class="mb-3 col-6">
                    <label class="form-label">Accepted Warehouse</label>
                    <input type="text" formControlName="acceptedwarehouse" class="form-control" 
                           [ngClass]="{ 'is-invalid': submitted && f.acceptedwarehouse.errors }" />
                    <div *ngIf="submitted && f.acceptedwarehouse.errors" class="invalid-feedback">
                        <div *ngIf="f.acceptedwarehouse.errors.required">Product Name is required</div>
                        <div *ngIf="f.acceptedwarehouse.errors.minlength">Name must be at least 3 characters</div>
                        <div *ngIf="f.acceptedwarehouse.errors.maxlength">Name cannot exceed 100 characters</div>
                    </div>
                </div>

                <!-- Name who will receive the item -->
                <div class="mb-3 col-6">
                    <label class="form-label">Receive by</label>
                    <input type="text" formControlName="receivedby" class="form-control" 
                           [ngClass]="{ 'is-invalid': submitted && f.receivedby.errors }" />
                    <div *ngIf="submitted && f.receivedby.errors" class="invalid-feedback">
                        <div *ngIf="f.receivedby.errors.required">Received by is required</div>
                        <div *ngIf="f.receivedby.errors.minlength">Name must be at least 3 characters</div>
                        <div *ngIf="f.receivedby.errors.maxlength">Name cannot exceed 100 characters</div>
                    </div>
                </div>



                <div class="row">
                    <!-- Product Name -->
                    <div class="mb-3 col-6">
                        <label class="form-label">item name</label>
                        <input type="text" formControlName="name" class="form-control" 
                               [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Product Name is required</div>
                            <div *ngIf="f.name.errors.minlength">Name must be at least 3 characters</div>
                            <div *ngIf="f.name.errors.maxlength">Name cannot exceed 100 characters</div>
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="mb-3 col-6">
                        <label class="form-label">Description</label>
                        <input type="text" formControlName="description" class="form-control" 
                               [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div *ngIf="f.description.errors.required">Description is required</div>
                            <div *ngIf="f.description.errors.minlength">Description must be at least 3 characters</div>
                            <div *ngIf="f.description.errors.maxlength">Description cannot exceed 100 characters</div>
                        </div>
                    </div>
                </div>
                

                <div class="row">
                      <!-- quantity -->
                      <div class="mb-3 col-6">
                        <label class="form-label">Quantity</label>
                        <input type="number" formControlName="quantity" class="form-control" 
                               [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }" />
                        <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                            <div *ngIf="f.quantity.errors.required">Quantity is required</div>
                            <div *ngIf="f.quantity.errors.min">Quantity must be a non-negative number</div>
                        </div>
                    <!-- Price -->
                    <div class="mb-3 col-6">
                        <label class="form-label">Amount</label>
                        <input type="number" formControlName="price" class="form-control" 
                               [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                        <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                            <div *ngIf="f.price.errors.required">Price is required</div>
                            <div *ngIf="f.price.errors.min">Price must be a non-negative number</div>
                        </div>
                       </div>
                    </div>

                    <!-- Product Status -->
                </div>

                <!-- Save and Cancel Buttons -->
                <div class="mb-3">
                    <button [disabled]="submitting" class="btn btn-primary me-2">
                        <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                        Save
                    </button>
                    <a routerLink="/product" class="btn btn-link">Cancel</a>
                </div>
            </form>

            <!-- Loading Spinner -->
            <div *ngIf="loading" class="text-center m-5">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </div>
        </router-outlet>
    </div>
</div>


<style>

    @tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom colors (Tailwind config) */
:root {
  --primary: #3b82f6; /* blue-500 */
}

    .title{
        font-size: 18px;
        font-weight: 500;
    }
</style>
